* {
	margin: 0;
	padding: 0;
	font-family: 'Avant Garde', Avantagarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	text-decoration: none;
	color: white;
}

html, body {
	height: 100%;
}

#wrap {
	min-height: 100%;
}

#main {
	overflow:auto;
	padding-bottom: 50px;
}  /* must be same height as the footer */

#footer {
	position: relative;
	margin-top: -50px; /* negative value of footer height */
	height: 50px;
	font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	clear: both;
	color: #fff;
	background-color: #808080;
	text-align: center;
	padding: 5px;
} 

header {
	line-height: 4em;
	height: 70px;
	padding-left: 30px;
	background-color: #000;
	position: fixed;
	width: 100%;
}

.title {
	float: left;
	width: 150px;
}

.options {
	float: right;
	width: 130px;
}

.header-pic {
	background-image: url(img/visit.jpg);
	height: 200px;
}

h2 {
	padding-left: 30px;
	padding-top: 20px;
	font-size: 50px;
	line-height: 5em;
}

p {
	color: black;
}

.mytrips {
	padding-top: 20px;
	padding-left: 30px;
	float: left;
}

.trip-body {
	height: 350px;
	width: 800px;
	background-color: lightgray;
	border: 3px;
	border-radius: 10px;
	float: right;
	margin: 20px;
	padding: 15px;
}





