* {
	margin: 0;
	padding: 0;

}

.right {

}

body{
	font-size:16px;
   	background-color: #fff;
    padding-top: 0;
    font-family: 'Avant Garde', Avantagarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    /*73c7b4*/
}

.header {
    height:50px;
    background:#F0F0F0;
    border:1px solid #CCC;
    width:960px;
    margin:0px auto;
}

h1 {
	font-family: 'Avant Garde', Avantagarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	color: #000;
	font-size: 60px;
	text-align: center;
}

h3 {
	font-family: 'Avant Garde', Avantagarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	color: #000;
	font-size: 20px;
	text-align: center;
	font-weight: 300;
}

#footer {
	position: relative;
	margin-top: -50px; /* negative value of footer height */
	height: 50px;
	font-family: 'Avant Garde', Avantagarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	clear:both;
	color: #fff;
	background-color: #808080;
	text-align: center;
	padding: 5px;
} 


