<html>
  <head>
  	<title>My Trips</title>
  	<link rel="stylesheet" type="text/css" href="static/home.css">
  </head>
  <body>
    <div id="wrap">
      <div id="main">
        <header>
          <div class="title"> <h1> VisWiz </h1> </div>
          <div class="options"> <a href="#">Log Out</p> </a>
        </header>

        <div class="header-pic">
      	  <h2> My Trips </h2>
        </div>

        <div class ="mytrips">
          <p> Add A New Trip </p>
        </div>

        <div class="trip-body">
          <p> hey </p>
        </div>
      	
      </div>
    </div>

    <div id="footer">
      <p>VisWiz, the easy college visit tool</p>
      <p>Contact information: <a href="mailto:vis@wiz.com">
      vis@wiz.com</a>.</p>
    </div>


  </body>
</html>