<html>
  <head>
  	<title>VisWiz - Your College Trip Planner</title>
  	<link rel="stylesheet" type="text/css" href="static/index.css">
  </head>
  <body>
    <div id="wrap">
      <div id="main">
      	<h1> VisWiz </h1>
      	<h3> Get The Most Out Of Your College Visit </h3>
      	<div id="open-pic">
     		<!-- opening picture goes here -->
          <div class="button-container">
            <div class="btn">Plan Your College Visit </div>
            <div class="arrow"><a href="#">Start ></a></div>
          </div>
          <div class="signup">
            <form>
              <p> Username: </p> <textarea> Type Username</textarea>
              <p> Password: </p> <textarea> Type Password</textarea>
              <a href="#" class="register">Register</a>
            </form>
          </div>
    	  </div>
      </div>
    </div>
    <div id="footer">
      <p>VisWiz, the easy college visit tool</p>
      <p>Contact information: <a href="mailto:someone@example.com">
  viswiz@example.com</a>.</p>
    </div>

  </body>
</html>